doctype html
html(lang="en")
  include modules/pug/_head

  body
    header.header
      include modules/pug/_header

    main.main
      include modules/pug/_main

    footer.footer
      include modules/pug/_footer